*, ::after, ::before{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(225, 100%, 94%);
}

p{
    font-size: 16px;
    color:hsl(224, 23%, 55%);
    font-family: 'Red Hat Display';
    font-weight: 500;
}

h1, h2, a{
    font-size: 16px;
    font-family: 'Red Hat Display';
}

h1{
    font-weight: 900;
    font-size: 18px;
}

.container{
    height: 550px;
    width: 350px; 
    background-color: white; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img_block{
    background-image: url('images/illustration-hero.svg');
    background-size: cover;
    height: 30%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    text-align: center;
    align-items: center;
}

.text_block p{
    width: 80%;
}

.plan{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
    height: 80px;
}

.plan a{
    color: hsl(245, 75%, 52%);
}

.plan_price{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -30px;
}

.button_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

button{
    width: 90%;
    text-align: center;
    border-radius: 15px;
    height: 50px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 5px 1px hsl(0, 0%, 73%);
}

button:hover{
    cursor: pointer;
}

.button_block :nth-child(2n+0){
    margin-top: 20px;
}

.button_block button:first-child{
    background-color: hsl(245, 75%, 52%);
}

.button_block button:first-child p{
    color: white;
}